<% @buildings.each do |building| %>
  <div><%= link_to "#{building.street_address} ", building_path(building)%> <%= "#{building.city}, #{building.state}" %>
  </div>
<% end %>

<%= link_to 'Add New Listing', new_building_path %>
